{% extends 'core/base.html' %}
{% block title %}
Signup
{% endblock %}
{% block content %}
  <div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
      <h1 class="mb-6 text-2xl uppercase text-center">Sign Up</h1>

      <form action="" method="post" class="space-y-3">
        {% csrf_token %}
        <div>
          <label for="">Username</label>
          <input type="text" name="username" class="w-full mt-2 py-2 px-6 bg-white rounded-xl" />
        </div>
        <div>
          <label for="">First Name</label>
          <input type="text" name="first_name" class="w-full mt-2 py-2 px-6 bg-white rounded-xl" />
        </div>
        <div>
          <label for="">Last Name</label>
          <input type="text" name="last_name" class="w-full mt-2 py-2 px-6 bg-white rounded-xl" />
        </div>
        <div>
          <label for="">Email</label>
          <input type="email" name="email" class="w-full mt-2 py-2 px-6 bg-white rounded-xl" />
        </div>
        <div>
          <label for="">Password</label>
          <input type="password" name="password1" class="w-full mt-2 py-2 px-6 bg-white rounded-xl" />
        </div>

        <div>
          <label for="">Repeat Password</label>
          <input type="password" name="password2" class="w-full mt-2 py-2 px-6 bg-white rounded-xl" />
        </div>

        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                <p class="text-center">{{ error|escape }}</p>
              </div>
            {% endfor %}
          {% endfor %}

          {% for error in form.non_field_errors %}
            <div class="p-6 bg-red-200 text-red-800 rounded-xl">
              <p class="text-center">{{ error|escape }}</p>
            </div>
          {% endfor %}
        {% endif %}

        <div>
          <button class="inline-block py-2 px-3 rounded-xl text-white bg-blue-500 hover:bg-blue-700">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
            </svg>
          </button>
        </div>


        <div>
          <a href="{% url 'login' %}" class="text-center">Login</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
